<div class="container">

    <h1>Your Workouts</h1>

    <br><br>

    <td><%= link_to 'New Workout', new_workout_path , :class=>"bton btn-blue"%></td>

<br><br><br>
<h2>Active Workouts</h2>
<br>
<% if @actives.empty? %>
  <p>You are not doing anything right now, Begin Now!</p>
<%else%>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Type</th>
        <th>Name</th>
        <th>Start</th>
        <th colspan="2">More</th>
      </tr>
    </thead>

    <tbody>
      <% @actives.each do |workout| %>
        <tr>
            <td><%= workout.workout_type.typename %></td>
            <td><%= workout.name %></td>
            <td><%= workout.start %></td>
            <td><%= link_to 'Details', workout , :class=>"bton btn-yellow"%></td>
            <td><a class="bton btn-red "href="workout/finish/<%=workout.id%>">Stop Exercise</a></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>


<br>
<h2>Finished Workouts</h2>
<br>
<% if @done.empty? %>
  <p>You have not done anything untill now, You lazy, GO!</p>
<%else%>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Type</th>
          <th>Name</th>
          <th>Start</th>
          <th>End</th>
          <th>Calories</th>
          <th>Heart Rate</th>
          <th>Steps</th>
          <th>More</th>
        </tr>
      </thead>

      <tbody>
        <% @done.each do |workout| %>
            <tr>
              <td><%= workout.workout_type.typename %></td>
              <td><%= workout.name %></td>
              <td><%= workout.start %></td>
              <td><%= workout.end %></td>
              <td><%= workout.calories %></td>
              <td><%= workout.heartrate %></td>
              <%if workout.workout_type.outside %>
                  <td><%= workout.steps %></td>
              <%else%>
                  <td>N/A</td>
              <%end%>

              <td><%= link_to 'Details', workout , :class=>"bton btn-yellow"%></td>
            </tr>
        <% end %>
      </tbody>
    </table>
<%end%>
<br>
<br>

</div>