<div class="container">

    <div class="small-box bg-green">
      <div class="inner">
          <p>
          <strong>Workout type:</strong>
          <%= @workout.workout_type.typename %>
          </P>

          <p>
            <strong>Name:</strong>
            <%= @workout.name %>
          </p>

          <p>
            <strong>Start:</strong>
            <%= @workout.start %>
          </p>
          <%if @workout.end!=nil%>
              <p>
                <strong>End:</strong>
                <%= @workout.end %>
              </p>

              <p>
                <strong>Calories:</strong>
                <%= @workout.calories %>
              </p>

              <p>
                <strong>Heart Rate:</strong>
                <%= @workout.heartrate %>
              </p>
                <%if @workout.workout_type.outside %>
                    <p>
                      <strong>Steps:</strong>
                      <%= @workout.steps%>
                    </p>
                <%end%>
           <%end%>
      </div>

      <%if @workout.end==nil%>
          <a href="/workout/finish/<%=@workout.id%>" class="small-box-footer">Stop Exercise Now!</a>
      <%end%>
    </div>
    <%= link_to 'Back', workouts_path ,:class => 'bton bton-normal'%>
    <br>
  <br/>
  <%if @workout.end!=nil%>
      <div class="container">
        <br/>
        <h2>Steps chart</h2>
        <%= line_chart @workout.band_datums.group_by_minute(:date_sent, 'avg', 'steps_taken') %>
        <br/>
        <br/>
        <h2>Calories burned</h2>
        <%= line_chart @workout.band_datums.group_by_minute(:date_sent, 'avg', 'calories_burnt') %>
        <br/>
        <br/>
      </div>
  <%end%>

  <%if @workout.workout_type.outside %>
    <div class="container">
      <h3>Path covered</h3>
      <div style='width: 800px;'>
        <div id="map" style='width: 800px; height: 400px;'></div>
      </div>

      <script type="text/javascript">

          handler = Gmaps.build('Google');
          handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
              markers = handler.addMarkers(<%=raw @hash.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
          });

      </script>
    </div>

    <br>
    <br>


    <div class="box box-solid" style="background-color: #819FF7">
    <div class="box-header ui-sortable-handle bg-blue" style="cursor: move;">
      <h3 class="box-title" style="color: white">Heart Rate</h3>
      <div class="box-tools pull-right">
        <button class="btn bg-blue btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
      </div>
    </div>
    <div class="box-body border-radius-none">
      <div class="morris-hover-point" style="color: #efefef">
        <%= line_chart @workout.band_datums.group_by_minute(:date_sent, 'sum', 'heart_rate_pminute'), library: {backgroundColor: '#819FF7', lineWidth: 5, legend: 'none', series: {0 => {color: 'white'}}} %>
      </div>
    </div>
  </div>


  <%end%>


</div>