<%= javascript_include_tag '//www.google.com/jsapi', 'chartkick' %>

<div class="container">

    <div class="small-box bg-green">
      <div class="inner">
          <p>
          <strong>Workout type:</strong>
          <%= @workout.workout_type.typename %>
          </P>

          <p>
            <strong>Name:</strong>
            <%= @workout.name %>
          </p>

          <p>
            <strong>Start:</strong>
            <%= @workout.start %>
          </p>
          <%if @workout.end!=nil%>
              <p>
                <strong>End:</strong>
                <%= @workout.end %>
              </p>

              <p>
                <strong>Calories:</strong>
                <%= @workout.calories %>
              </p>

              <p>
                <strong>Heart Rate:</strong>
                <%= @workout.heartrate %>
              </p>
                <%if @workout.workout_type.outside %>
                    <p>
                      <strong>Steps:</strong>
                      <%= @workout.steps%>
                    </p>
                <%end%>
           <%end%>
      </div>

      <%if @workout.end==nil%>
          <a href="/workout/finish/<%=@workout.id%>" class="small-box-footer">Stop Exercise Now!</a>
      <%end%>
    </div>
    <%= link_to 'Back', workouts_path ,:class => 'bton bton-normal'%>
    <br>
  <br/>
  <%if @workout.end!=nil%>
      <div class="container">
        <br/>
        <h2>Steps chart</h2>
        <%= line_chart @workout.band_datums.group_by_minute(:date_sent, 'avg', 'steps_taken') %>
        <br/>
        <br/>
        <h2>Calories burned</h2>
        <%= line_chart @workout.band_datums.group_by_minute(:date_sent, 'avg', 'calories_burnt') %>
        <br/>
        <br/>
      </div>
  <%end%>

  <%if @workout.workout_type.outside %>
    <div class="container">
      <h3>Path covered</h3>
        <p>Map goes here.</p>
    </div>

  <%end%>


</div>