<%= form_validated_for(@alarm) do |f| %>
  
  <div class="form-group">
    <%= f.label :day_week %><br>    
    <%= f.select :day_week, @days, {}, {:class => 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.label :alarm_hour %><br>
    <%= f.datetime_select :alarm_hour, {:discard_day => true, :discard_month => true, :discard_year => true} %>
  </div>
  <div class="form-group">
    <%= f.label :state %>
    <%= f.check_box :state, :class => 'icheckbox_flat-greem checked' %>
  </div>
  <div class="actions" align="right">
    <%= f.submit (@alarm.new_record? ? 'Create Alarm' : 'Update Alarm'),:class => 'bton bton-green'%>
  </div>  
<% end %>
