<div class="container jumbotron">
    
  <div class="col-xs-1 col-lg-1"></div>

  <div class="col-lg-5">

    
    <%= form_validated_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      
      <form role="form" >
                   
        <div class="form-group">
            <%= f.label :name %>
            <div class="input-group">
              <%= f.text_field :name, autofocus: true, :class => 'form-control',:maxlength => 25, :placeholder=>'Name' %>
              <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
            </div> 
            <br>
            <%= f.label :last_name %>
            <div class="input-group">
              <%= f.text_field :lastname, autofocus: true, :class => 'form-control',:maxlength => 25, :placeholder=>'Last name'%>
                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
            </div>
            <br>
            <%= f.label :sex %>
            <div class="input-group">
              <%= f.select(:sex, [["Female", "Female"], ["Male", "Male"]], {}, {:class => 'form-control'} )%>
            </div>
            <br>
            <%= f.label :weight %>
            <div class="input-group">
              <%= f.text_field :weight, autofocus: true, :class => 'form-control',:maxlength => 6, :placeholder=>'Ex: 70.12' %>
                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
            </div>
            <br>
            <%= f.label :height %>
            <div class="input-group">
              <%= f.text_field :height, autofocus: true, :class => 'form-control',:maxlength => 6, :placeholder=>'Ex: 1.70' %>
                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
            </div>
            <br>
            <%= f.label :birthdate %>
            <div class="input-group">
              <%= f.date_select :birthdate,{:order => [:day, :month, :year], :start_year => 1950}, {:class => "form-control"}  %>
            </div>
            <br>
          
            <%= f.label :email %>
            <div class="input-group">
              <%= f.email_field :email, autofocus: true, :class => 'form-control',:maxlength => 25, :placeholder=>'example@domain.com' %>
                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
            </div>
            <br>
            <%= f.label :password %>
            <% if @validatable %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <div class="input-group">
              <%= f.password_field :password, autocomplete: "off", :class => 'form-control',:maxlength => 25, :placeholder=>'*******' %>
              <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
            </div>
            <br>
            <%= f.label :password_confirmation %>
            <div class="input-group">
              <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control',:maxlength => 25, :placeholder=>'*******' %>
              <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
            </div>
            <br>
            <div class="actions" align="right">
              <%= f.submit "Register", :class => 'btn bg-green' %>
            </div>

            <%= f.hidden_field :rol, :value => "Client" %>         
            <%= f.hidden_field :active, :value => true %>

        </div>
      </form>

    </div>
  <% end %>

</div>
<%= render "devise/shared/links" %>
