<h1>Data send by bands</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Data id</th>
      <th>User</th>
      <th>Band</th>
      <th>Date sent</th>
      <th>Steps taken</th>
      <th>Calories burnt</th>
      <th>Hearth rate per minute</th>
      <th>Longitude</th>
      <th>Latitude</th>
      <!--<th colspan="3"></th>-->
    </tr>
  </thead>
    <% a = 1 %>
  <tbody>
    <% @band_data.each do |band_datum| %>
      <tr>
        <td><%= a %><% a+=1 %></td>
        <td><%= band_datum.id %></td>
        <td><%= if band_datum.user then band_datum.user.email else band_datum.user end %></td>
        <td><%= if band_datum.band then band_datum.band.id else band_datum.band end %></td>
        <td><%= band_datum.date_sent %></td>
        <td><%= band_datum.steps_taken %></td>
        <td><%= band_datum.calories_burnt %></td>
        <td><%= band_datum.heart_rate_pminute %></td>
        <td><%= band_datum.longitude %></td>
        <td><%= band_datum.latitude %></td>
        <!--<td><%= link_to 'Show', band_datum %></td>-->
        <!--<td><%= link_to 'Edit', edit_band_datum_path(band_datum) %></td>-->
        <!--<td><%= link_to 'Destroy', band_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
