
<div class="container ">  
<div class="box">
  <div class="box-header">
  <h3 class="box-title">List of users</h3>
    <div class="box-tools" align="right">    
       <div class="input-group">
        <%= form_tag("/users", :method => "get") do %>      
          <%= text_field_tag(:q, '', { :class=>"form-control", :placeholder => 'Search' } ) %>                    
        <% end %>
       </div>
    </div>
      <table class="table no-margin">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Lastname</th>
            <th>Band Id</th>
            <th>Sex</th>
            <th>Weight</th>
            <th>Height</th>
            <th>Birthdate</th>
            <th>Email</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <%if user.role != 'Admin'%>
            <tr>
              <td><%= user.id %></td>
              <td><%= user.name %></td>
              <td><%= user.lastname %></td>
              <td><%= if user.band then user.band.id else 'n/a' end %></td>
              <td><%= user.sex %></td>
              <td><%= user.weight %></td>
              <td><%= user.height %></td>
              <td><%= user.birthdate %></td>        
              <td><%= user.email %></td>        
              <td><%= link_to 'Show', user, :class => 'btn btn-info' %></td>
              <% if user.active %>
              <td><%= link_to raw('Disable&nbsp;<i class="fa fa-fw fa-lock"></i>'), '/users/disable_user/'+ user.id.to_s + '/0', { :class=>'btn btn-danger' } %></td>
              <% else %>
              <td><%= link_to raw('Enable&nbsp;<i class="fa fa-fw fa-unlock">'), '/users/disable_user/'+ user.id.to_s + '/1', { :class=>'btn bg-green' } %></i></td>
              <% end %>

              <!--<td><%= link_to 'Edit', edit_user_path(user) %></td>
              <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
              <%end%>
            </tr>
          <% end %>
        </tbody>
      </table>
    
  </div>
</div>
<br>
<div align="right">
  <%= link_to 'New User', new_user_path, :class => 'btn btn-success' %><br><br>
</div>
</div>




