<%if current_user.id == @user.id%>
    <h3><b>Welcome to Profile </b> </h3> 
<%else%>
    <b><%=@user.name%> <%=@user.lastname%></b>
<%end%>    

<div class="container">
      <div class="row">
      
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xs-offset-3 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >      
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"><%=@user.name%> <%=@user.lastname%></h3>
            </div>
            <div class="panel-body">
              <div class="row" align="center">                                          
                <div class=" col-md-6 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Birthdate</td>
                        <td><%=current_user.birthdate%></td>
                      </tr>
                      <tr>
                        <td>Sex</td>
                        <td><%=current_user.sex%></td>
                      </tr>
                      <tr>	
                        <td>Weight</td>
                        <td><%=current_user.weight%></td>
                      </tr>
                   
                      <tr>
	                      <tr>
	                        <td>Height</td>
	                        <td><%=current_user.height%></td>
	                      </tr>
	                        <tr>
	                        <td>Email</td>
	                        <td><%=current_user.email%></td>
	                      </tr>	                                             
                      </tr>
                     
                    </tbody>
                  </table>
                  
                
                </div>
              </div>
            </div>
            <div class="panel-footer" align="right">
                
                <a href="/users/edit" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-warning">Edit Profile
                </a>                    
                
            </div>            
          </div>
        </div>
      </div>
    </div>