<%= form_for(@band_type) do |f| %>
  <% if @band_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@band_type.errors.count, "error") %> prohibited this band_type from being saved:</h2>

      <ul>
      <% @band_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :model %><br>
    <%= f.text_field :model %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
