<h1>Listing band_types</h1>

<table>
  <thead>
    <tr>
      <th>Model</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @band_types.each do |band_type| %>
      <tr>
        <td><%= band_type.model %></td>
        <td><%= link_to 'Show', band_type %></td>
        <td><%= link_to 'Edit', edit_band_type_path(band_type) %></td>
        <td><%= link_to 'Destroy', band_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Band type', new_band_type_path %>
