<%= form_validated_for(@band) do |f| %>
  <% if @band.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@band.errors.count, "error") %> prohibited this band from being saved:</h2>

      <ul>
      <% @band.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
        <%= f.label :color %><br>
        <%= f.select :color, @colors, {}, {class: 'form-control'}%>
     </div>

  <div class="form-group">
    <%= f.label :Band_type_id %><br>
    <%= f.text_field :Band_type_id %>
  </div>
  <div class="actions" align="left">
    <%= f.submit "OK", :class => 'btn btn-warning'%>
  </div>

<% end %>

