<div class="container ">  
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">List of bands</h3>
      <table class="table no-margin">
        <thead >
          <tr>
            <th>User</th>
            <th>Color</th>
            <th>Band type</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @bands.each do |band| %>
            <tr>
              <td><%= band.user.email %></td>

              <td><%= band.color %></td>
              
              <td><%= band.Band_type.model %></td>
              <td><%= link_to 'Show', band ,{class: "btn btn-info"}%></td>
              <td><%= link_to 'Edit', edit_band_path(band),class: "btn btn-warning" %></td>
              <td><%= link_to 'Delete', band , class: "btn btn-danger",  method: :delete, data: { confirm: 'Are you sure?' }    %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>  <br>
  <div align="right">
    <%= link_to 'New Band', new_band_path, :class => 'btn btn-success' %>
  </div><br>
</div>




