<p id="notice"><%= notice %></p>

<p>
  <strong>Color:</strong>
  <%= @band.color %>
</p>

<p>
  <strong>User:</strong>
  <%= current_user.name %>
</p>

<!--<p>
  <strong>Model:</strong>
  <%= @band.Band_type %>
</p>
-->
<%= link_to 'Edit', edit_band_path(@band) %> |
<%= link_to 'Back', bands_path %>
