<div class="container ">  
  <div class="panel panel-primary">
    <div class="panel-heading" align="center"><h1><strong>Band Profile</strong></h1></div>
    <div class="panel-body">  
       <center> <table class="table table-user-information">
        <tbody>
          <tr>
            <td><strong>User</strong></td>
            <td><%= current_user.name %></td>
          <tr>
          <tr>
            <td><strong>Model</strong></td>
            <td><%= @band.Band_type.model %></td>
          <tr>
          <tr>
            <td><strong>Color</strong></td>
          <%if @band.color == 'green' || @band.color == '2'%>
            <td style="background-color: rgb(0, 166, 90); border-color: rgb(0, 166, 90); wigth: 20px;"></td>
          <%end%>
          <%if @band.color == 'blue' || @band.color == '1'%>
            <td style="background-color: rgb(0, 115, 183); border-color: rgb(0, 115, 183); wigth: 20px;"></td>
          <%end%>
          <%if @band.color == 'red' || @band.color == '3'%>
            <td style="background-color: rgb(221, 75, 57); border-color: rgb(221, 75, 57); wigth: 20px;"></td>
          <%end%>        
          <tr>
</tbody>
    </table></center>
    <div align="center">
      <%= link_to 'Edit', edit_band_path(@band), :class => 'btn btn-warning' %> 
      <%= link_to 'Back', bands_path, :class => 'btn btn-default' %></div>
    </div>

</div>    
  
    </div>



<!--<p>
  <strong>Model:</strong>
  <%= @band.Band_type %>
</p>
-->


