<div class="container jumbotron">
      
      <div class="col-xs-1 col-lg-1"></div>
     
      <div class="col-xs-4 col-lg-4">

         <h2>Login </h2><br>
           <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <form role="form">

                   <div class="form-group">
                        <%= f.label :email %>
                        <div class="input-group">
                            <span class="input-group-addon">@</span>
                          <%= f.email_field :email, autofocus: true, :class => 'form-control' %>
                          <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                        </div>    
                          <br>
                        <%= f.label :password %><br>
                        <div class="input-group">
                          <span class="input-group-addon"><img class="icon" src="/Images/Icons/lock.png"></span></span>
                          <%= f.password_field :password, autocomplete: true, :class => 'form-control'  %>
                          <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                        </div>
                      <br>

                      <% if devise_mapping.rememberable? -%>
                            <%= f.check_box :remember_me %>         
                            <%= f.label :remember_me %>               
                      <% end %>                 
                    </div>
                  <div class="actions" >
                    <div align="right">
                      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>  
                        <%= link_to "Forgot your password?", new_password_path(resource_name), :class => 'btn btn-yellow' %>
                      <% end -%>
                       &nbsp;&nbsp;
                      <%= f.submit "Log in", :class => 'btn btn-green' %>
                    </div>                
                  </div>  
              <% end %>
            </form>
      </div> 

      <div class="col-xs-1 col-lg-1"></div>

      <div class="col-xs-5 col-lg-5">
        Para borrar: <br>
        <h2>Siempre usar h2 para los titulos dentro de un div Jumbotron</h2> <br>

              <p>Text input</p>
                              <%= label_tag(:lab, "Label:") %>
              <div class="form-inline">
                <input type="text" class="form-control" >
                <button type="submit" class="btn btn-normal search">Search &nbsp;<img src="/Images/Icons/search.png"></button>
              </div>
              <br><br>

              <p>Botones: </p>
              <%= link_to "Normal", "/users/sign_in", :class => 'btn btn-normal' %> 
              <%= link_to "Green", "/users/sign_in", :class => 'btn btn-green' %> 
              <%= link_to "Red", "/users/sign_in", :class => 'btn btn-red' %> 
              <%= link_to "Yellow", "/users/sign_in", :class => 'btn btn-yellow' %> 
              <%= link_to "Blue", "/users/sign_in", :class => 'btn btn-blue' %>

        <br>
        <br>
    </div>

</div>


<%= render "devise/shared/links" %>

               
                   
                
                
      