<%= form_for(@goal_type) do |f| %>
  <% if @goal_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal_type.errors.count, "error") %> prohibited this goal_type from being saved:</h2>

      <ul>
      <% @goal_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :typename %><br>
    <%= f.text_field :typename %>
  </div>
  <div class="field">
    <%= f.label :unit_measured %><br>
    <%= f.text_field :unit_measured %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
