<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @goal_type.description %>
</p>

<p>
  <strong>Unit measured:</strong>
  <%= @goal_type.unit_measured %>
</p>

<%= link_to 'Edit', edit_goal_type_path(@goal_type) %> |
<%= link_to 'Back', goal_types_path %>
