<p id="notice"><%= notice %></p>

<p>
  <strong>Goal:</strong>
  <%= @goal_range.goal %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @goal_range.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @goal_range.end_time %>
</p>

<%= link_to 'Edit', edit_goal_range_path(@goal_range) %> |
<%= link_to 'Back', goal_ranges_path %>
