<div class="container">
  <h1>New goal</h1>

  <%= form_for(@goal) do |f| %>

      <div class="field">
        <%= f.label :goal_type_id %><br>
        <%= f.select(:goal_type_id, @types, {}, {class: 'form-control goal-form-control'})%>
      </div>

      <div class="field">
        <%= f.label "Repeat every" %><br>
        <%= f.select :interval, @times, {}, {class: 'form-control goal-form-control'}%>
      </div>

      <div class="field">
        <%= f.label :target %><br>
        <%= f.number_field :target, class: 'form-control goal-form-control' , id: "project_name"%>
      </div>
      <br><br>
      <div class="actions">
        <%= f.submit class: "btn btn-default"%>
      </div>

  <% end %>

  <%= link_to 'Back', goals_path, {class: "btn btn-default"} %>
</div>


<script type="text/javascript">
//   function validate_project(){
//            var check = 0;
//            if($("#project_name").val() == '' || ($("#project_name").val() == null)){
//                $("#project_name_error").show();
//                $("#project_name_error").html("<font color='red' size='1'>Please enter a project name</font>");
//                return false;
//            }
//            if ($("#project_name").val() != ''){
//                $.get( "validate/"+$("#project_name").val(), function( data ) {
//                    $("#project_name_error").show();
//                    $("#project_name_error").html("<font color='red' size='1'>Name Already Exist</font>");
//                    check = 1;
//                    return false;
//                });
//                alert("1st alert")
//                return false;
//            }
//            alert("2nd alert")
//            return true;
//        }
</script>
