<h1>New goal</h1>

<style>
    .form-control{
      max-width: 500px;
        display: inline;
    }
</style>

<%= form_validated_for(@goal) do |f| %>

    <div class="field">
      <%= f.label :goal_type_id %><br>
      <%= f.select(:goal_type_id, @types, {}, {class: 'form-control'})%>
    </div>

    <div class="field">
      <%= f.label "Repeat every" %><br>
      <%= f.select :interval, @times, {}, {class: 'form-control'}%>
    </div>
    
    <div class="field">
      <%= f.label :target %><br>
      <%= f.number_field(:target, class: 'form-control') %>
    </div>
    <br><br><br><br>
    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>

<%= link_to 'Back', goals_path %>
