<h1>New goal</h1>

<%= form_for(@goal) do |f| %>

    <div class="field">
      <%= f.label :goal_type_id %><br>
      <%= f.select :goal_type_id, @type %>
    </div>

    <div class="field">
      <%= f.label :end_date %><br>
      <%= f.select :end_date, @times %>
    </div>
    
    <div class="col-lg-6">
      <%= f.label :target %>
      <%= f.number_field :target, :class => 'form-control' , :id=> "project_name"%> 
    </div>
    <br><br><br><br>
    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>


<%= link_to 'Back', goals_path %>


<script type="text/javascript">
   function validate_project(){
            var check = 0;
            if($("#project_name").val() == '' || ($("#project_name").val() == null)){
                $("#project_name_error").show();
                $("#project_name_error").html("<font color='red' size='1'>Please enter a project name</font>");
                return false;
            }
            if ($("#project_name").val() != ''){
                $.get( "validate/"+$("#project_name").val(), function( data ) {
                    $("#project_name_error").show();
                    $("#project_name_error").html("<font color='red' size='1'>Name Already Exist</font>");          
                    check = 1;
                    return false;
                });
                alert("1st alert")
                return false;
            }
            alert("2nd alert")
            return true;
        }
</script>