<h1>New goal</h1>

<%= form_for(@goal) do |f| %>

    <div class="field">
      <%= f.label :goal_type_id %><br>
      <%= f.select :goal_type_id, @type %>
    </div>

    <div class="field">
      <%= f.label :end_date %><br>
      <%= f.select :end_date, @times %>
    </div>

    <div class="field">
      <%= f.label :target %><br>
      <%= f.number_field :target %>
    </div>


    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>


<%= link_to 'Back', goals_path %>
