<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @goal.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @goal.end_date %>
</p>

<p>
  <strong>Target:</strong>
  <%= @goal.target %>
</p>

<p>
  <strong>Reached:</strong>
  <%= @goal.reached %>
</p>

<p>
  <strong>Goal type:</strong>
  <%= @goal.goal_type %>
</p>

<p>
  <strong>User:</strong>
  <%= @goal.user %>
</p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
