<p id="notice"><%= notice %></p>

<h3>
  <strong><%= @goal.goal_type.typename %></strong>
</h3>

<h4>
  <strong>Goal started at:</strong>
  <p><%= @goal.start_date %></p>
</h4>

<h4>
  <strong>Goal ends at:</strong>
  <p><%= @goal.end_date %></p>
</h4>

<h4>
  <strong>Target:</strong>
  <p><%= @goal.target.to_s + " " + @goal.goal_type.unit_measured %></p>
</h4>

<h4>
  <strong>Reached so far:</strong>
  <p><%= @goal.reached.to_s + " " + @goal.goal_type.unit_measured %></p>
</h4>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
